{{> layout/header}}

<div class="container p-5">
   {{#boardList}} <!--  데이터가 컬렉션이면 for문으로 바뀜-->
       <div class="card mb-3">
           <div class="card-body">
               <h4 class="card-title mb-3">{{title}}</h4>
               <a href="/board/{{id}}" class="btn btn-primary">상세보기</a>
           </div>
       </div>
    {{/boardList}}

    <!--
    값을 리퀘스트에 넣고
    템플릿엔진에 꺼내어 쓰면 된다.
    객체에 있는 변수명만 적기
    -->

    <ul class="pagination d-flex justify-content-center">
        <li class="page-item {{#first}}disabled{{/first}}"><a class="page-link" href="?page={{prevPage}}">Previous</a></li>
        <li class="page-item {{#last}}disabled{{/last}}"><a class="page-link" href="?page={{nextPage}}">Next</a></li>
    </ul>

    <!--
    이미 그 프로세스 안이기 때문에 uri만 적어 주면 된다.
    -->
</div>

{{> layout/footer}}